:root {
  --primary: blue;
  --box-shadow: -5px 5px 10px 5px rgba(128, 128, 128, 0.979);
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  background: green;
  padding: 8px 16px;
  border: 1px solid orangered;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* ==============global */
.global {
  background: rgba(255, 119, 0, 0.432);
}

.global > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  /* color: White; */
}

/* ==============Header*/
header {
  background: blue;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  color: wheat;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 16px;
  font-weight: bolder;
  font-size: 20px;
}

header ul li:hover {
  cursor: pointer;

  background: red;

  transform: scale(1.5);
}

.logo {
  background: white;
  color: blue;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 3px dotted blue;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==============hero */

.hero {
  background: url(./img/download.jpg) no-repeat center;
  background-size: cover;
  min-height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(115, 59, 11, 0.555);
  color: white;
  width: 500px;
  padding: 32;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content hr {
  width: 100%;
}

/* latest post */

.main {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.articles {
  width: 66%;
}

.side-links {
  background: blue;
  width: 66%;
}

article {
  display: flex;
  gap: 16px;
  box-shadow: var(--box-shadow);
  padding: 20px 16px;

  border-radius: 10px;
  margin-top: 24px;
}

.art-img {
  width: 250px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

article .btn {
  float: right;
}

/* side-links */

.side-links {
  width: 34%;
}

.countery {
  background: rgb(224, 225, 47);
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 32px;
}

.date {
  background: rgb(224, 225, 47);
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 32px;
}

/* =======recc */

.recc {
  background: rgb(224, 225, 47);
  margin-top: 64px;
  padding-top: 46px 0;
}

.card-list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  width: 350px;
  box-shadow: var(--box-shadow);
  background: white;
  padding-bottom: 32px;
  border-radius: 10px;
  flex-grow: 1;
}

.card img {
  border-radius: 10px;
}

/* =========subscribe */
.subs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.subs input {
  line-height: 42px;
  border-radius: 8px;
  border: 1px solid grey;
  margin-right: 10;
}

/* footer */

.footer {
  background: black;
  color: white;
  padding: 16px;
}

/* media quaries */

/* @media (min-width: 768px) { */
/* @media (max-width: 768px) { */
/* @media (width <=768px) { */
/* .global { */
/* background: black; */
/* display: none; */
/* } */

/* tablets */

/* @media (max-width: 992px) { */
/* media(768 < width: <= 992px;) .global { */
/* background: black; */
/* display: none; */
/* } */
/* } */

/* tables */

@media (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .articles {
    width: 100%;

    .side-links {
      width: 100%;
      display: flex;
      gap: 32px;
    }

    .country,
    .date {
      width: 50%;
      height: 200px;
      margin-top: 48px;

      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

/* phone 768 */
@media (max-width: 768px) {
  article {
    display: flex;
    flex-direction: column;
  }

  .art-img {
    width: 100%;
  }

  article.btn {
    width: 100%;
  }
  .side-links {
    background: blue;
    width: 66%;
    flex-direction: column;
  }
  .countery,
  .date {
    width: 100%;
    margin-top: 16px;
  }
}
